<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text">Colabore com a CEAP</h2>
    <div class="row center">
      <h5 class="header col s12 light">
        Abaixo se encontram campos para que você possa fornecer informações que potencializam
        a análise de fraudes feitas pelo sistema. É possível informar se um deputado é sócio de uma empresa,
        os parentes de um deputado e se esse parente é sócio de alguma empresa cadastrada.
      </h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <%= simple_form_for @deputy_partnership do |f| %>
              <label>Deputado</label>
              <div class="input-field">
                <%= f.input :deputy_rid, collection: @deputies, as: :select, label: "-"  %>
              </div>
              <p>É sócio da</p>
              <label>Empresa</label>
              <div class="input-field">
                <%= f.input :company_associated_rid, collection: @companies, as: :select, label: "-"  %>
              </div>
              <%= f.button :submit, "Enviar colaboração" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <%= simple_form_for @deputy_relative do |f| %>
              <div class="input-field">
                <%= f.input :deputy_relative_name, label: "Nome parente"  %>
              </div>
              <p>É parente do</p>
              <label>Deputado</label>
              <div class="input-field">
                <%= f.input :deputy_rid, collection: @deputies, as: :select, label: "-"  %>
              </div>
              <%= f.button :submit, "Enviar colaboração" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <%= simple_form_for @relative_partnership do |f| %>
              <label>Parente</label>
              <div class="input-field">
                <%= f.input :relative_rid, collection: @relatives, as: :select, label: "-"  %>
              </div>
              <p>É sócio da</p>
              <label>Empresa</label>
              <div class="input-field">
                <%= f.input :company_associated_rid, collection: @companies, as: :select, label: "-"  %>
              </div>
              <%= f.button :submit, "Enviar colaboração" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
