<!DOCTYPE html>
<html>
  <head>
    <title>Ceap</title>
    <%= csrf_meta_tags %>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <%= javascript_include_tag('sigma.min.js') %>
    <%= javascript_include_tag('sigma.layout.forceAtlas2.min.js') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">CEAP</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/ceap_tse">CEAP / TSE</a></li>
          <li><a href="/frauds">Fraudes</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/ceap_tse">CEAP / TSE</a></li>
          <li><a href="/frauds">Fraudes</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <%= yield %>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Universidade de Brasília</h5>
            <p class="grey-text text-lighten-4" style="text-align: justify;">
              Esse projeto foi feito como trabalho de conclusão de curso na Universidade de Brasília.
              Todas as informações aqui presentes, foram obtidas por meio de dados abertos fornecidas pela
              câmara dos deputados e pelo tribunal superior eleitoral.
            </p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="white-text" href="http://www.unb.br/">Universidade de Brasília</a></li>
              <li><a class="white-text" href="http://www2.camara.leg.br/transparencia/cota-para-exercicio-da-atividade-parlamentar/dados-abertos-cota-parlamentar">CEAP</a></li>
              <li><a class="white-text" href="http://www.tse.jus.br/eleitor-e-eleicoes/estatisticas/repositorio-de-dados-eleitorais-1/repositorio-de-dados-eleitorais">Eleiçoes 2014</a></li>
              <li><a class="white-text" href="http://cic.unb.br/">Departamento de Ciência da Computação</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
        </div>
      </div>
    </footer>
  </body>
</html>
