<!DOCTYPE html>
<html>
  <head>
    <title>Ceap</title>
    <%= csrf_meta_tags %>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <%= javascript_include_tag('sigma.min.js') %>
    <%= javascript_include_tag('sigma.layout.forceAtlas2.min.js') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
